.photo {
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  background-color: #3794ff;
}

.profile-container {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: row;
}

.user-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
}

.userprofile-container {
  margin: 0 auto;
  max-width: 1200px;
}

.userprofile-content-container {
  margin-top: 1em;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.userprofile-password {
  width: 50%;
}

.userprofile-link {
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userprofile-postings {
  margin-top: 1em;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .userprofile-password {
    width: 100%;
  }
}