.reg-inputs {
  min-height: 140px;
  max-height: 75vh;
  overflow-y: auto;
  margin-bottom: 0.5em;
}

.form-container {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}